{{ define "content" }}

<div class="education-content">

    <div class="education-left">

        <div class="education-item">
            <h2>Bachelor's Degree</h2>

            <p>
                Bachelor of Engineering in<br/>
                Electronic Engineering Technology (Computer)
            </p>

            <p>
                King Mongkut's University of Technology
                North Bangkok
            </p>
        </div>

        <div class="education-item">
            <h2>Vocational Certificate</h2>

            <p>
                Certificate of Vocational Education
                in Electronics
            </p>

            <p>
                Kanchanaburi Technical College
            </p>
        </div>

    </div>

</div>

{{ end }}

{{ define "right-content"}}

    <div class="education-right">

        <div class="education-meta bachelor-meta">
            <strong>GPAX 3.30</strong>
            <span>2020 — 2024</span>
        </div>

        <div class="education-meta vocational-meta">
            <strong>GPAX 3.29</strong>
            <span>2017 — 2019</span>
        </div>

    </div>
{{ end }}