{{ define "content" }}

<div class="experience-content">

    <div class="experience-left">

        {{ range .WorkExperience }}

        <div class="experience-company">
            <h3>{{ .Company }}</h3>

            <span>
                {{ .StartDate.Format "Jan 2006" }}
                —
                {{ .EndDate.Format "Jan 2006" }}
            </span>
        </div>

        {{ end }}

    </div>

</div>

{{ end }}


{{ define "right-content" }}

<div class="experience-right">

    {{ range .WorkExperience }}

    <div class="experience-item">

        <h2>{{ .Position }}</h2>

        <ul>
            {{ range .Responsibilities }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>

    </div>

    {{ end }}

</div>

{{ end }}