{{ define "content" }}

<div class="hero-content">

    <p class="greeting">
        Hi, I am
    </p>

    <h1>
        <span class="first-name">KANTHARAKORN</span>
        <span class="last-name">TANGKITJAVISUT</span>
    </h1>

    <h2>
        Full Stack Developer
    </h2>

    <p class="intro">
        Computer Engineering graduate passionate about
        building web applications and backend systems.
    </p>


    <div class="social-links">
        <a href="#">@</a>
        <a href="#">GH</a>
        <a href="#">in</a>
    </div>

</div>

{{ end }}